
.env
application.properties
application.yml
application-dev.properties
application-prod.properties


/target/
/out/
/build/

/.mvn/
/.mvn/wrapper/maven-wrapper.jar
/.gradle/
/.gradle/*

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
logs/
*.log
hs_err_pid*
.DS_Store
Thumbs.db
*.swp
*.swo
/test-output/
*.test.log
